

<table>
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Age</td> 
            <td><%= @catt.age %></td>
        </tr>
    </tbody>
</table>