<% if current_user.follows?(user) %>
<% state = 'followed' %>
<% else %>
<% state = 'unfollowed' %>
<% end %>


<button class="follow-toggle" data-user-id="<%=user.id%>" data-initial-follow-state="<%=state%>"></button>

<!--Todo: maybe refactor so that we add the data attributes with Javascript instead of explicitly here.-->

<!--Figure out how to call the User#follows? method -- make a User instance somehow?-->
