<h1>Sign in!</h1>
<!--Eseentially the log in form, which is different from the sign-up form.-->


<form action="<%= session_url %>", method= "POST">
  <label>Username:
    <input type="text", name="user[username]" value="">
  </label>

  <label>Password:
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="Sign In!">



</form>